# my
ignore/
notes
goals
TODO
cbits/main
.projectile

# Haskell
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
report.html
.stack-work/

# Emacs
\#*
*~
.#*
\#*\#
*.log
TAGS

# OS X
.DS_Store

