# my
.sboo/
ignore/ 
temporary/

# ghcid
*.ghcid
.ghcid.d/

# Haskell
dist/
dist-*/
.ghc.environment.*
cabal.project.local
*.o
*.hi
*.chi
*.chs.h
report.html
.cabal-sandbox/
cabal.sandbox.config
cabal.config
dist-newstyle/
dist/
.stack-work/
.styx/

# nix
result-*/
result/

# Emacs
*~
\#*
.\#*
\#*\#
,*
.*.swp
.*.swo
TAGS
.projectile

# OS X
.DS_Store

# miscellaneous
*.save
