# my
ignore/

# Nix
result
result-*

# Haskell
cabal.project.local
dist-newstyle/
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
report.html
.stack-work/
ghcid.txt
.styx/

# Emacs
\#*
*~
.#*
\#*\#
*.log
TAGS
.projectile

# OS X
.DS_Store
